@media screen and (min-width: 320px) {
    body {
        border: 10px solid #fff;
    }
    .container>p {
        font-size: 2em;
    }
    .container a {
        display: block;
        margin: 0.5em 0;
    }
    .container a:hover {
        text-decoration: none;
        border: none;
    }
}

@media screen and (min-width: 360px) {
    body {
        border: 15px solid #fff;
    }
    .container>p {
        font-size: 2.2em;
    }
    .container a {
        display: inline-block;
        margin: 0 0.5em;
    }
}

@media screen and (min-width: 768px) {
    body {
        border: 25px solid #fff;
    }
    .container {
        width: 705px;
    }
    .container>p {
        font-size: 3em;
        color: #004352;
    }
    .container a:hover {
        text-decoration: none;
        border-bottom: 1px solid #004352;
        box-shadow: 0 1px 0 #FCFCFC;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    -moz-osx-font-smoothing: grayscale;
    background: #EDF0F0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.dis {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.container {
    position: relative;
    top: 40%;
}

.container>p {
    font-family: "Fonarto", sans-serif;
}

.container a {
    color: #1D3D40;
    font-size: 1.2em;
    font-weight: 100;
    text-shadow: 1px 1px 0 #FCFCFC;
}