html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    background: #222;
    width: 360px;
    height: 640px;
    margin: auto;
    background-size: 57.2%;
    background-position: 9px 0px;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

#loader {
    background: #fbfbfb;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #6D7884;
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
}

#loader .imgbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 96px;
    font-size: 2rem;
}

@-webkit-keyframes narrow {
    0% {
        width: 100%;
        margin: 2% 0%;
    }
    100% {
        width: 80%;
        margin: 2% 10%;
    }
}

.imgbox>h2 {
    width: 86%;
    margin: 0 7%;
    display: flex;
    justify-content: center;
    align-self: center;
    background: #fbfbfb;
    text-align: center;
    height: 53px;
    border-top: 1px solid #DDDFE2;
    z-index: 10;
    position: relative;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes vis {
    0% {
        opacity: 1;
    }
    1% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes letterSpace_g {
    0% {
        transform: translateX(-60px);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes letterSpace_a {
    0% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes letterSpace_e {
    0% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes letterSpace_s {
    0% {
        transform: translateX(60px);
    }
    100% {
        transform: translateX(0);
    }
}

.imgbox .txt {
    display: flex;
    padding: 0 1.6rem;
    text-transform: lowercase;
    font-size: 0;
    animation: vis 1.8s ease, fadeIn 1.2s ease 1.8s;
}

.ltr {
    font-size: 1.8rem;
    background: transparent;
    margin: 0 0.25rem;
}

.ltr.g {
    animation: vis 1.8s ease, letterSpace_g 1.2s ease 1.8s;
}

.ltr.a {
    animation: vis 1.8s ease, letterSpace_a 1.2s ease 1.8s;
}

.ltr.e {
    animation: vis 1.8s ease, letterSpace_e 1.2s ease 1.8s;
}

.ltr.s {
    animation: vis 1.8s ease, letterSpace_s 1.2s ease 1.8s;
}

@-webkit-keyframes bringin {
    0% {
        opacity: 0.7;
        transform: translateY(43px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    width: 80%;
    margin: 0 10%;
    padding: 0 0 8px;
    height: 43px;
    animation: vis .5s ease, bringin 1s ease .5s;
    z-index: 0;
}

.blur {
    filter: blur(0);
    -webkit-filter: blur(0);
}


/*
#loader>h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
}*/

.title-box {
    text-align: center;
    color: #66B6AB;
    font-family: 'Bungee', sans-serif;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;
    opacity: 0;
    transition: transform 1.2s ease, opacity 1s ease;
}

.title-box>h1 {
    color: #66B6AB;
    margin: 0 auto;
    width: 100%;
    font-size: 4.55rem;
}

.title-box>h3 {
    color: #5B7C8D;
    margin: 0 auto;
    width: 100%;
    font-size: 1.9rem;
}

.show {
    opacity: 1;
    transform: translateY(24px);
}