html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    width: 360px;
    height: 640px;
    margin: auto;
    background: url('../img/bg1.png'), rgba(79, 41, 88, 0.05);
    background-size: 57.2%;
    background-position: 9px 0px;
}

#loader {
    background: #fbfbfb;
    width: 360px;
    height: 640px;
    display: table;
    text-align: center;
    color: #6D7884;
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
}

#loader .imgbox {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: auto;
    font-size: 2rem;
}

@-webkit-keyframes narrow {
    0% {
        width: 100%;
        margin: 2% 0%;
    }
    100% {
        width: 80%;
        margin: 2% 10%;
    }
}

.imgbox>h2 {
    width: 86%;
    margin: 0 8%;
    display: flex;
    justify-content: center;
    background: #fbfbfb;
    text-align: center;
    height: 46px;
    border-top: 1px solid #DDDFE2;
    z-index: 10;
    position: relative;
}

@-webkit-keyframes blur {
    0% {
        filter: blur(3px);
        -webkit-filter: blur(3px);
        letter-spacing: 16px;
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        filter: blur(0);
        -webkit-filter: blur(0);
        letter-spacing: 0;
    }
}

@-webkit-keyframes vis {
    0% {
        opacity: 1;
    }
    1% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.imgbox .txt {
    background: #fbfbfb;
    padding: 0 1.6rem;
    text-transform: lowercase;
    animation: vis 1.8s ease-in-out, blur 1.2s ease-in-out 1.8s;
}

@-webkit-keyframes bringin {
    0% {
        opacity: 0.9;
        transform: scale(0.9, 0.9);
        transform: translateY(39px);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
        transform: translateY(0);
    }
}

.logo {
    width: 80%;
    margin: 0 10%;
    height: auto;
    animation: vis 1s ease-in-out, bringin 1.6s ease-in-out 1s;
    z-index: 0;
}

.blur {
    filter: blur(0);
    -webkit-filter: blur(0);
}


/*
#loader>h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
}*/

.title-box {
    text-align: center;
    color: #66B6AB;
    font-family: 'Bungee', sans-serif;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;
    opacity: 0;
    transition: transform 1.2s ease-in-out, opacity 1s ease-in-out;
}

.title-box>h1 {
    color: #66B6AB;
    margin: 0 auto;
    width: 100%;
    font-size: 4.55rem;
}

.title-box>h3 {
    color: #5B7C8D;
    margin: 0 auto;
    width: 100%;
    font-size: 1.9rem;
}

.show {
    opacity: 1;
    transform: translateY(24px);
}