html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.main {
    background: #fbfbfb;
    width: 360px;
    height: 640px;
    margin: auto;
    background-size: 57.2%;
    background-position: 9px 0px;
    overflow: hidden;
}

@media only screen and (min-width: 375px) {
    .main {
        background: #fbfbfb;
        width: 375px;
        height: 667px;
        margin: auto;
        background-size: 57.2%;
        background-position: 9px 0px;
        overflow: hidden;
    }
}

@media only screen and (min-width: 414px) {
    .main {
        background: #fbfbfb;
        width: 414px;
        height: 736px;
        margin: auto;
        background-size: 57.2%;
        background-position: 9px 0px;
        overflow: hidden;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@-webkit-keyframes pageOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes pageInLoader {
    0% {
        transform: translateX(0%);
    }
    /*1% {
        transform: translateX(0);
    }*/
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes staticX {
    0% {
        transform: translateX(0);
    }
    1% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes staticY {
    0% {
        transform: translateY(-100%);
    }
    1% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

#loader {
    background: #fbfbfb;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #6D7884;
    position: relative;
    z-index: 2;
    transform: translateX(-100%);
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    animation: staticX 4s linear, pageInLoader 0.6s linear 4s;
}

#loader .imgbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 110px;
    font-size: 2rem;
}

@-webkit-keyframes narrow {
    0% {
        width: 100%;
        margin: 2% 0%;
    }
    100% {
        width: 80%;
        margin: 2% 10%;
    }
}

.imgbox>h2 {
    width: 86%;
    margin: 0 7%;
    display: flex;
    justify-content: center;
    align-self: center;
    background: #fbfbfb;
    text-align: center;
    height: 67px;
    border-top: 1px solid #DDDFE2;
    z-index: 1;
    position: relative;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes vis {
    0% {
        opacity: 1;
    }
    1% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes letterSpace_g {
    0% {
        transform: translateX(-60px);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes letterSpace_a {
    0% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes letterSpace_e {
    0% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes letterSpace_s {
    0% {
        transform: translateX(60px);
    }
    100% {
        transform: translateX(0);
    }
}

.imgbox .txt {
    display: flex;
    padding: 0 1.6rem;
    text-transform: lowercase;
    font-size: 0;
    animation: vis 1.8s ease, fadeIn 1.2s ease 1.8s;
}

.ltr {
    font-size: 1.8rem;
    background: transparent;
    margin: 0 0.25rem;
}

.ltr.g {
    animation: vis 1.8s ease, letterSpace_g 1.2s ease 1.8s;
}

.ltr.a {
    animation: vis 1.8s ease, letterSpace_a 1.2s ease 1.8s;
}

.ltr.e {
    animation: vis 1.8s ease, letterSpace_e 1.2s ease 1.8s;
}

.ltr.s {
    animation: vis 1.8s ease, letterSpace_s 1.2s ease 1.8s;
}

@-webkit-keyframes bringin {
    0% {
        opacity: 0.7;
        transform: translateY(43px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    width: 80%;
    margin: 0 10%;
    padding: 0 0 8px;
    height: auto;
    animation: vis .5s ease, bringin 1s ease .5s;
    z-index: 0;
    pointer-events: none;
}

.blur {
    filter: blur(0);
    -webkit-filter: blur(0);
}


/*
#loader>h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
}*/

@-webkit-keyframes pageChange {
    0% {
        transform: translate(100%, -100%);
    }
    100% {
        transform: translate(0%, -100%);
    }
}

@-webkit-keyframes staticXY {
    0% {
        transform: translate(100%, -100%);
    }
    1% {
        transform: translate(100%, -100%);
    }
    100% {
        transform: translate(100%, -100%);
    }
}

@-webkit-keyframes pageInHome {
    0% {
        transform: translate(100%, -100%);
    }
    100% {
        transform: translate(0, -100%);
    }
}

#home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url("../img/bg5.png") top left repeat rgba(168, 212, 111, 0.15);
    background-size: 70%;
    position: relative;
    z-index: 13;
    transform: translateY(-100%);
    animation: staticXY 4s linear, pageInHome 0.6s linear 4s;
}

.title-box {
    text-align: center;
    color: #66B6AB;
    font-family: 'Bungee', sans-serif;
    height: 70%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;
}

.title-box>h1 {
    color: #359668;
    margin: 0 auto;
    width: 100%;
    font-size: 4.55rem;
    text-shadow: 1px 1px 0 rgba(43, 123, 85, 1);
}

.title-box>h3 {
    color: #341139;
    margin: 0 auto;
    width: 100%;
    font-size: 1.9rem;
    text-shadow: 1px 1px 0 rgba(43, 14, 47, 1);
}

.menu-box {
    height: 40%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-family: 'Bungee', sans-serif;
}

.menu-box a {
    width: 90%;
    height: 100%;
    margin: 0 5% 5%;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(60, 50, 81, 1);
    color: #FFED90;
    font-size: 1.2rem;
    letter-spacing: 1px;
}