$font-family: 'Open Sans', sans-serif;
$header-font: 'Gudea', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1;

// renkler
$dark-grey: #333447;
$orange-grey: #3C3B3D;
$orange: #DD7829;
$dark-blue: #000E2E;
$ldark-blue: #121E34;
$blue: #141D2D;
$white: #FEFEFE;
$discord-color: #7289DA;
$steam-color: #5C7E10;
$youtube-color: #CC181E;
$ytd: desaturate($youtube-color, 30%);